/* Style sheet for Athena Ruby tools */

/* Items below pertain to fonts */
@font-face
{
    font-family:Athena;
    src:url('../fonts/Athena.TTF');
}
@font-face
{
    font-family:CoinArt;
    src:url('../fonts/COINART_.TTF');
}
@font-face
{
    font-family:CoinGreek;
    src:url('../fonts/COG_____.TTF');
}
@font-face
{
    font-family:CoinInscr;
    src:url('../fonts/COI_____.TTF');
}
@font-face
{
    font-family:Grierson;
    src:url('../fonts/GR______.TTF');
}
@font-face{
    font-family:athenarubyweb;
    src:url('../fonts/athenaruby_b017-webfont.eot?#iefix') format('embedded-opentype'), 
url('../fonts/athenaruby_b017-webfont.woff') format('woff'), 
url('../fonts/AthenaRuby_b017.ttf') format('truetype'), 
url('../fonts/athenaruby_b017-webfont.svg#athenarubyweb') format('svg');
}

/* Items below pertain to text that uses customized fonts defined above */
.athenarubyweb{
    font-family:athenarubyweb;
    -moz-font-variant-ligatures:"calt=1"; /* for Firefox 14 and prior */
    -moz-font-variant-ligatures:contextual; /* for Firefox 15 and later */
    -webkit-font-variant-ligatures:contextual;
    -ms-font-variant-ligatures:contextual;
    -o-font-variant-ligatures:contextual;
    font-variant-ligatures:contextual;
}
.athena{
    font-family:Athena;
    font-size:large;
}
.athenaruby{
    font-size:large;
    font-family:athenarubyweb;
}

/* Items below pertain to paragraphs and divs */
h2{
    color:maroon;
    border-bottom:2px solid maroon;
}
div
{
    background:rgba(60,120,180,0.2)
}
.minornote{
    font-size:x-small;
    font-style:italic;
}
