/* Style sheet for Athena Ruby tools */

/* FONTS */
@font-face
{
    font-family:Athena;
    src:url('../fonts/Athena.TTF');
}
@font-face
{
    font-family:CoinArt;
    src:url('../fonts/COINART_.TTF');
}
@font-face
{
    font-family:CoinGreek;
    src:url('../fonts/COG_____.TTF');
}
@font-face
{
    font-family:CoinInscr;
    src:url('../fonts/COI_____.TTF');
}
@font-face
{
    font-family:Grierson;
    src:url('../fonts/GR______.TTF');
}
@font-face{
    font-family:athenaruby;
    src:/*url('../fonts/athenaruby_b018-webfont.eot?#iefix') format('embedded-opentype'), 
url('../fonts/athenaruby_b018-webfont.woff') format('woff'),*/ 
url('../fonts/AthenaRuby_b021.ttf') format('truetype'), 
url('../fonts/athenaruby_b021.woff2') format('woff2');
}

.athenaruby{
    font-family:athenaruby;
    -moz-font-variant-ligatures:"calt=1"; /* for Firefox 14 and prior */
    -moz-font-variant-ligatures:contextual; /* for Firefox 15 and later */
    -webkit-font-variant-ligatures:contextual;
    -ms-font-variant-ligatures:contextual;
    -o-font-variant-ligatures:contextual;
    font-variant-ligatures:contextual; /* marked as invalid only because advanced CSS 3 feature */
}
.athenaruby,
.sample{
    font-family:athenaruby;
}
.athena{
    font-family:Athena;
}
.coinart{
    font-family:CoinArt;
}
.coingreek{
    font-family:CoinGreek;
}
.coininscr{
    font-family:CoinInscr;
}
.grierson{
    font-family:Grierson;
}

/* FONT SIZE */
.athena,
.athenaruby{
    font-size:large;
}
.minor{
    font-size:small;
}
.major{
    font-size:120%;
}
.sample{
    font-size:300%;
}

/* COLORS */
h1,
h2,
h3{
    color:maroon;
}
.legacy,
.item
{
    background:rgba(60, 120, 180, 0.2)
}
.samplecontext{
    color:gray;
}
.samplecontext *{
    color:blue;
}
.major{
    color:blue;
}
.alert{
    color:red;
}

/* BORDERS */
h2{
    border-bottom:2px solid maroon;
}

/* POSITION */
.legacy{
    float:right
}